<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kirchhoff.composeexamples">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComposeExamples">
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".HelloAndroidActivity" />
        <activity android:name=".SimpleLayoutActivity" />
        <activity android:name=".SimpleCardActivity" />
        <activity android:name=".navigationdrawer.NavigationDrawerActivity" />
        <activity android:name=".customshape.CustomShapeActivity" />
        <activity android:name=".undesnackbar.UndoSnackbarActivity" />
        <activity android:name=".bottomsheet.scaffold.BottomSheetScaffoldActivity" />
        <activity android:name=".bottomsheet.modal.BottomSheetModalActivity" />
        <activity android:name=".tabs.TabsExampleActivity" />
        <activity android:name=".viewmodel.BaseViewModelExampleActivity" />
        <activity android:name=".bottomnavigation.BottomNavigationBarActivity" />
        <activity android:name=".clock.ClockActivity" />
        <activity android:name=".counterbadge.CounterBadgeActivity" />
        <activity android:name=".texttransformation.TextTransformationActivity" />
        <activity android:name=".searchinlist.SearchInListActivity" />
        <activity android:name=".emoji.EmojiListActivity" />
    </application>

</manifest>